<div class="auth">
    <h3>Create an account</h3>

    <!-- local signin -->
    <form class="d-flex flex-column" action="/register" method="POST">
        <div class="row">
            <div class="col-6">
                <input name="firstname" type="text" placeholder="Firstname" class="mb-3 form-control form-control-lg"
                    required>
            </div>
            <div class="col-6">
                <input name="lastname" type="text" placeholder="Lastname" class="mb-3 form-control form-control-lg"
                    required>
            </div>
        </div>
        <input name="email" type="email" placeholder="Email" class="mb-3 form-control form-control-lg" required>
        <input name="password" type="password" placeholder="Password" class="mb-3 form-control form-control-lg"
            required>
        <button class="btn btn-lg rounded btn-outline-primary my-3" type="submit">Create an account</button>
    </form>

    <p>Already have an account? <a href="/login">Sign in</a></p>

    <!-- google signin -->
    <h6 class="my-5"><span class="breaker">OR</span></h6>
    <a href="/auth/google" type="button"
        class="btn btn-primary btn-lg d-grid gap-2 col-4 mx-auto d-flex justify-content-center align-items-center mb-4">
        <i class='bx bxl-google'></i>
        <span class="align-middle">Sign in with Google</span>
    </a>
</div>