<div class="container-fluid footer">
    <footer class="d-flex flex-wrap flex-column justify-content-between align-items-center py-2 mt-2">
        <a href="/" class="mb-0 text-primary text-decoration-none fw-bold">
            SIMPLE JOURNAL.
        </a>
        <p class="mb-0 text-muted" style="font-size: 16px;">© 2023 Haiying Liao</p>
    </footer>
</div>