<div class="contact">

    <div class="contact-text">
        <h2>Get in <span>Touch</span></h2>
        <h4>if you have any question</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem expedita
            aperiam aliquid at. Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis mollitia
            inventore?</p>

        <div class="contact-list">
            <li><a href=""><i class='bx bxs-phone'></i> 1234 5544 2222</a></li>
            <li><a href=""><i class='bx bxs-envelope'></i> 123@gmail.com</a></li>
        </div>
    </div>
</div>