<div class="container-fluid container-fluid-custom py-md-5 mb-5">

    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">

                <h2 class="display-1 mb-4 position-relative">
                    Hello, how was your day going?
                </h2>
                <p class="fa-4 mb-4">
                    Try this simple to use journal writing app to save the memory of the day
                </p>
                <a href="/register" class="btn btn-primary btn-lg">Try Free!</a>

            </div>
        </div>
    </main>

</div>